<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/headerli"); %>
</head>

<body>
    <%- include("../partials/navbar"); %>
        <div class="container-fluid main_header">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <div class="row">

                        <div class="col-md-6 col-12 main_header_right align-items-center">
                            <figure>
                                <img src="images/ab2.png" alt="khushh" class="img-fluid" title="khushh">
                            </figure>
                        </div>
                        <div class="col-md-6 col-12 main_header_left ">
                            <p>Welcome to weather app</p>
                            <h1>I Am A <span class="textclr">mern stack developer </span>learner and a freelancer</h1>
                            <!-- <a href="/weather"><button>Check Now</button></a> -->
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <%- include("../partials/footer"); %>
</body>

</html>